<mat-accordion>
    <mat-expansion-panel [disabled]="isDisabled">
        <mat-expansion-panel-header>
            This is the expansion title
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel *ngFor="let country of countries">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-slide-toggle></mat-slide-toggle>
            </mat-panel-title>
            <mat-panel-title>
                {{country.name}}
            </mat-panel-title>
            <mat-panel-title>
                {{country.capital}}
            </mat-panel-title>
            <mat-panel-title>
                {{country.region}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- <app-country-detail></app-country-detail> -->
        <mat-card>
            <mat-grid-list cols="4" rowHeight="4:1">
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item>Subregion:{{country.subregion}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Population:{{country.population}}</mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item>Coordinates: {{country.latlng}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Demonym: {{country.demonym}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item>Area: {{country.area}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Timezones: {{country.timezones}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item>Languages: {{country.languages}}</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Currencies: {{country.currencies[i]}}</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>